@font-face {
  font-family: 'Montserrat';
  src: url('./../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('./../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Futura';
  src: url('./../fonts/Futura-Bold.ttf');
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: normal;
  color: $text;
}

.orange {
  color: $primary !important;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
