.landing {
  height: 100vh;

  background-image: url('../imgs/landing-img.jpg');
  background-image: linear-gradient(
      rgba(33, 33, 33, 0.25),
      rgba(33, 33, 33, 0.25)
    ),
    url('../imgs/landing-img.jpg');
  background-size: cover;
  background-position: middle left;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;

  color: $text-light;

  &__container {
    padding: 30rem 10rem 0 10rem;
  }

  &__title {
    font-size: 6rem;
    font-family: 'Futura';
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.2rem;
  }

  &__text {
    font-size: 2rem;
    max-width: 55rem;

    margin: 2.5rem 0;
  }
}

.future {
  padding: 10rem;

  display: flex;
  justify-content: space-between;

  &__text {
    text-align: right;
    max-width: 50rem;
    h2 {
      font-family: 'Futura';
      font-weight: bold;
      font-size: 4rem;
      letter-spacing: 0.2rem;
    }

    p:first-of-type {
      margin-top: 3rem;
      font-size: 2.5rem;
      color: $text-faded;
      font-family: 'Montserrat SemiBold';
    }

    p:last-of-type {
      margin: 3rem 0;
      font-size: 2rem;
    }
  }
}

.mvc {
  padding: 5rem 10rem;
  display: flex;

  .mvc__left {
    flex: 1;
    h2 {
      font-family: 'Futura';
      letter-spacing: 0.2rem;
      font-size: 6rem;
      font-weight: bold;
      line-height: 100%;
    }
  }
  &__content {
    background-color: $grey;
    padding: 3rem;
    font-size: 2.5rem;

    p {
      margin-left: 10px;

      // &:last-of-type {
      //   margin-top: 3rem;
      //   font-size: 1.8rem;
      //   font-weight: bold;
      // }
    }
  }
}

.movie {
  margin: 2rem;
  padding: 20rem 10rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../imgs/bal-ashram-bg.jpg');
  background-attachment: fixed;
  background-position: top;

  h2 {
    font-family: 'Futura';
    font-weight: bold;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    color: $text-light;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: rgba($text-light, 1);
    max-width: 70rem;
  }
}

.exhibit {
  margin: 2rem;
  padding: 20rem 10rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../imgs/beneath-barcode.jpg');
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;

  h2 {
    font-family: 'Futura';
    font-weight: bold;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    color: $text-light;
  }

  p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: rgba($text-light, 1);
    max-width: 70rem;
  }
}
