.landing {
  min-height: 100vh;

  background-image: url('../imgs/landing-img.jpg');
  background-image: -o-linear-gradient(
      rgba(33, 33, 33, 0.25),
      rgba(33, 33, 33, 0.25)
    ),
    url('../imgs/landing-img.jpg');
  background-image: -ms-linear-gradient(
      rgba(33, 33, 33, 0.25),
      rgba(33, 33, 33, 0.25)
    ),
    url('../imgs/landing-img.jpg');
  background-image: -webkit-linear-gradient(
      rgba(33, 33, 33, 0.25),
      rgba(33, 33, 33, 0.25)
    ),
    url('../imgs/landing-img.jpg');
  background-image: -moz-linear-gradient(
      rgba(33, 33, 33, 0.25),
      rgba(33, 33, 33, 0.25)
    ),
    url('../imgs/landing-img.jpg');
  background-image: linear-gradient(
      rgba(33, 33, 33, 0.25),
      rgba(33, 33, 33, 0.25)
    ),
    url('../imgs/landing-img.jpg');
  -o-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: middle left;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;

  color: $text-light;

  &__container {
    padding: 30rem 10rem 0 10rem;
    @media only screen and (max-width: 650px) {
      padding: 20rem 2.5rem 0 2.5rem;
      text-align: center;
    }
  }

  &__title {
  }

  &__text {
    max-width: 55rem;
    margin: 2.5rem 0;
    @media only screen and (max-width: 650px) {
      max-width: 100%;
    }
  }
}

.future {
  padding: 10rem;

  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 1250px) {
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
  }
  @media only screen and (max-width: 800px) {
    padding: 2rem;
  }

  &__text {
    text-align: right;
    max-width: 50rem;

    @media only screen and (max-width: 1250px) {
      margin-top: 2rem;
      text-align: center;
      max-width: 100%;
    }

    p:first-of-type {
      margin-top: 3rem;
    }

    p:last-of-type {
      margin: 3rem 0;
    }
  }
}

.mvc {
  padding: 5rem 10rem;
  display: flex;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 600px) {
    padding: 5rem 0;
    text-align: center;
  }

  .mvc__left {
    flex: 1;
    h2 {
      line-height: 100%;
    }
  }

  &__content {
    background-color: $grey;
    padding: 3rem;
    min-width: 60rem;

    @media only screen and (max-width: 600px) {
      min-width: 30rem;
    }

    p {
      margin-left: 10px;
    }
  }

  &__img-container {
  }

  &__img {
    object-fit: cover;
    @media only screen and (max-width: 1250px) {
      max-width: 100%;
    }
  }
}

.movie {
  margin: 2rem;
  padding: 20rem 10rem;
  background-image: url('../imgs/bal-ashram-bg.jpg');
  background-image: -moz-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/bal-ashram-bg.jpg');
  background-image: -webkit-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/bal-ashram-bg.jpg');
  background-image: -o-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/bal-ashram-bg.jpg');
  background-image: -ms-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/bal-ashram-bg.jpg');
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/bal-ashram-bg.jpg');
  -o-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;

  @media only screen and (max-width: 800px) {
    padding: 10rem 5rem;
    text-align: center;
  }

  h2 {
    color: $text-light;
  }
  p {
    color: $text-light;
    max-width: 70rem;
  }
}

.exhibit {
  margin: 2rem;
  padding: 20rem 10rem;
  background-image: url('../imgs/beneath-barcode.jpg');
  background-image: -o-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/beneath-barcode.jpg');
  background-image: -moz-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/beneath-barcode.jpg');
  background-image: -ms-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/beneath-barcode.jpg');
  background-image: -webkit-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/beneath-barcode.jpg');
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/beneath-barcode.jpg');
  -o-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;

  @media only screen and (max-width: 800px) {
    padding: 10rem 5rem;
    text-align: center;
    background-position: top left;
  }

  h2 {
    color: $text-light;
  }

  p {
    margin-bottom: 2rem;
    color: rgba($text-light, 1);
    max-width: 70rem;
  }
}
