.nav {
  display: flex;
  justify-content: space-between;

  &--home {
    position: absolute;
    top: 4rem;
    left: 4rem;
    right: 4rem;
  }

  &--alt {
    padding: 5rem 10rem;
  }

  &__logo {
    font-size: 2.5rem;
    font-family: 'Futura';
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: $text-light;

    &--dark {
      color: $text;
    }
  }

  &__link {
    font-size: 1.6rem;
    margin-left: 2rem;

    &--light {
      color: $text-light;
    }

    &--dark {
      color: $text;
    }
  }
}
