.nav {
  display: flex;
  justify-content: space-between;

  &--home {
    position: absolute;
    top: 4rem;
    left: 4rem;
    right: 4rem;
  }

  &__logo {
    font-size: 2.5rem;
    color: $text-light;
    font-family: 'Futura';
    font-weight: bold;
    letter-spacing: 0.2rem;
  }

  a {
    font-size: 1.6rem;
    color: $text-light;
    margin-left: 2rem;
  }
}
